.h2o-header{
  width: 100%;
  padding: 10px 0;
  background-color: rgba(var(--bg-l),1.0);
  background-image: var(--gr-f);
  position: fixed;
  top: 0;
  z-index: 80;

  &.sticky {
  
    
    box-shadow: 0 11px 25px rgba(66, 140, 220, 0.631372549);
  }

  &__box{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__top{
    display: flex;
    align-items: center;
    grid-gap: 20px;

    &-btns{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-gap: clamp(10px, 1.6129vw, 20px);
      flex-grow: 1;

      @include small-tablet{
        button{
          font-size: 12px;
        }
      }

      @include mobile{
        button{
          width: 100%;
        }
      }
    }

    @include mobile{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }

    .h2o-logo{
      display: none;

      @include tablet{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include mobile{
        top: 0;
        transform: translate(-50%, -20%);
      }
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    grid-gap: 10px;

    .h2o-icon-logo{
      @include laptop{
        background-image: url(../img/index/logo.png);
        width: 46px;
        height: 46px;
      }
    }

    @include tablet{
      display: none;
    }
  }

  @include tablet{
    .h2o-download-links,.h2o-lock-button,.h2o-yellow-button,.h2o-action-button,.h2o-action-button{
      display: none;
    }
  }
}



