.h2o-header{
  width: 100%;
  padding: 10px 0;
  background-color: rgba(var(--bg-l),1.0);
  background-image: var(--gr-f);
  position: fixed;
  top: 0;
  z-index: 80;

  &.sticky {
  
    
    box-shadow: 0 11px 25px rgba(66, 140, 220, 0.631372549);
  }

  &__box{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__top{
    display: flex;
    align-items: center;
    grid-gap: 20px;

    &-btns{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-gap: 20px;
      flex-grow: 1;
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  .h2o-burger{
   order: 4;
  }
}



