<footer>
  <div class="h2o-container">
    <div class="h2o-footer">
      <div class="h2o-footer__top">
        <a href="index.html" class="h2o-logo">
          <i class="h2o-icon-logo"></i>
        </a>

        <span class="h2o-age-limit">18+</span>
        
        <ul class="h2o-footer-nav">
          <li class="h2o-footer-nav__item">
            <a href="#" class="h2o-footer-nav__link">О нас</a>
          </li>
          <li class="h2o-footer-nav__item">
            <a href="#" class="h2o-footer-nav__link">правила</a>
          </li>
          <li class="h2o-footer-nav__item">
            <a href="#" class="h2o-footer-nav__link">контакты</a>
          </li>
          <li class="h2o-footer-nav__item">
            <a href="#" class="h2o-footer-nav__link">мобильная версия</a>
          </li>
          <li class="h2o-footer-nav__item">
            <a href="#" class="h2o-footer-nav__link">партнерская программа</a>
          </li>
          <li class="h2o-footer-nav__item">
            <a href="#" class="h2o-footer-nav__link">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="h2o-footer__box">
          <ul class="h2o-main-social">
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-master"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-visa"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-maestro"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-webmoney"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-ecopayz"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-btc"></i></span>
            </li>
          </ul>

          <div class="h2o-download-links">
            <span class="h2o-download-links__title">Скачать</span>
            <span class="h2o-download-links__box">
              <button class="h2o-more h2o-download-links__link">
                <i class="h2o-icon-android"></i>
              </button>
              <button class="h2o-more h2o-download-links__link">
                <i class="h2o-icon-apple"></i>
              </button>
            </span>
          </div>

          <ul class="h2o-main-social h2o-main-social--mode">
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-fifa"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-nhl"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-wta"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-fiba"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-atp"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-uefa"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-ihf"></i></span>
            </li>
            <li class="h2o-main-social__item">
              <span class="h2o-main-social__icon"><i class="h2o-icon-nba"></i></span>
            </li>
          </ul>
        
      </div>
    </div>
  </div>
</footer>