<header class="h2o-header">
  <div class="h2o-container h2o-container--mode">
    <div class="h2o-header__box">
      <div class="h2o-header__top">
        <button class="h2o-burger">
          <span class="h2o-burger__line"></span>
        </button>
        <a href="index.html" class="h2o-logo">
          <i class="h2o-icon-logo"></i>
        </a>
        <div class="h2o-download-links">
          <span class="h2o-download-links__title">Скачать</span>
          <span class="h2o-download-links__box">
            <a href="#" class="h2o-download-links__link">
              <i class="h2o-icon-android"></i>
            </a>
            <a href="#" class="h2o-download-links__link">
              <i class="h2o-icon-apple"></i>
            </a>
          </span>
        </div>
        <button class="h2o-lock-button">
          <i class="h2o-icon-lock"></i>
          ОБХОД БЛОКИРОВОК
        </button>
        <button class="h2o-yellow-button">
          FREE MONEY
          <i class="h2o-icon-money"></i>
        </button>
        <button class="h2o-action-button">
          <i class="h2o-icon-box"></i>
          АКЦИИ
        </button>

        <div class="h2o-header__top-btns">
          <button class="h2o-orange-button">РЕГИСТРАЦИЯ</button>
          <button class="h2o-blue-button">ВХОД</button>
        </div>
      </div>
      <div class="h2o-header__bottom">
        <a href="index.html" class="h2o-logo">
          <i class="h2o-icon-logo"></i>
        </a>

        <ul class="h2o-header-nav">
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">Live</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link active">Казино</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link h2o-header-nav__link--mode">Live-Казино</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">
              <i class="h2o-icon-aviator"></i>
              <span class="h2o-plane">
                <i class="h2o-icon-cabin"></i>
                <b class="h2o-plane__icon"></b>
              </span>
            </a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-shop-button"><i class="h2o-icon-shop"></i>КУПИТЬ БОНУС</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">КИБЕРСПОРТ</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">ПОКЕР</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">ТОТО</a>
          </li>

        </ul>
      </div>

    </div>

    <div class="h2o-mobile-menu">
      <div class="h2o-mobile-menu__top">
        <button class="h2o-burger">
          <span class="h2o-burger__line"></span>
        </button>
        <a href="index.html" class="h2o-logo">
          <i class="h2o-icon-logo"></i>
        </a>
      </div>
      <div class="h2o-mobile-menu__box">
        <ul class="h2o-header-nav">
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">Live</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link active">Казино</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link h2o-header-nav__link--mode">Live-Казино</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">
              <i class="h2o-icon-aviator"></i>
              <span class="h2o-plane">
                <i class="h2o-icon-cabin"></i>
                <b class="h2o-plane__icon"></b>
              </span>
            </a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-shop-button"><i class="h2o-icon-shop"></i>КУПИТЬ БОНУС</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">КИБЕРСПОРТ</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">ПОКЕР</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">ТОТО</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>