<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="MostBet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOSTBET</title>


    <link rel="preload" href="template/fonts/Roboto-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="template/fonts/Roboto-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="template/fonts/Roboto-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="template/fonts/Roboto-Black.woff" as="font" crossorigin="anonymous">


    <link rel="stylesheet" href="template/css/style.css">
</head>
