.h2o-sidebar-banner{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 5px;
    background: var(--gr-e);
    border-radius: 15px;
    padding-top: 32px;
   

    &__title{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        line-height: 1;
        margin-top: 12px;
        padding: 0 12px;
        text-transform: uppercase;
    }

    &__count{
        color: rgba(var(--cl-c),1.0);
        font-family: var(--font-family);
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        margin-top: 5px;
        min-height: 30px;
        padding: 0 8px;
        text-transform: uppercase;
    }

    .h2o-orange-button{
        margin-top: 2px;
    }

    &::before{
        background-image: url(../img/sprite/crown.svg);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 59px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        right: 0;
        top: -15px;
        width: 87px;
    }

    &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -54%);
        background-image: url(../img/sprite/border.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 70%;
    }
}