.h2o-bonus-slider{
    position: relative;
    min-height: 274px;
    border-radius: 15px;
    overflow: hidden;
  
    &__button{
        position: absolute;
        inset: 0;
        z-index: 5;
    }

    &__slide{
        overflow: hidden;
        border-radius: 15px;
        display: block;
        width: clamp(520px, 35.417vw, 680px) !important;
        min-height: 274px;

        &.is-active ~ li{
            margin-left: calc((clamp(520px, 35.417vw, 680px) - clamp(200px, 20.833vw, 400px)) * -1);
        }

        &.is-active{
            z-index: 10;

            .h2o-bonus-slider__image{
                img,picture{
                    object-position: left;
                }
            }
        }

        &:nth-child(2){
            z-index: 9;
        }
        &:nth-child(3){
            z-index: 8;
        }
        &:nth-child(4){
            z-index: 7;
        }
        &:nth-child(5){
            z-index: 6;
        }
        &:nth-child(6){
            z-index: 5;
        }
        &:nth-child(7){
            z-index: 4;
        }
        &:nth-child(8){
            z-index: 3;
        }
    }

    &__box{
        height: 100%;
    }

    &__image{
        width: 100%;
        height: 100%;
        img,picture{
            width: 100%;
            height: 100%;
        }
    }

    &__bg{
        position: absolute;
        inset: 0;
        z-index: -1;

        img,picture{
            width: 100%;
            height: 100%;
        }
    }

    // .splide{

    //     // &__track {
    //     //     margin-left: -200px; /* Move the track to the left to reveal the right part of inactive slides */
    //     // }

    //     &__slide{
    //         width: calc((1300px - 680px) / 3) !important;
    //         // overflow: hidden;
         

    //         &.is-active{
    //             margin: 0 !important; 
    //             width: 680px !important;
    //             // transform: scale(1.3);
    //             z-index: 4;
    //         }

    //         // &.is-prev{
    //         //     z-index: 2;
    //         //     transform: scale(1.1) translateX(max(30px, 30rem));
    //         // }

    //         // &.is-next{
    //         //     z-index: 2;
    //         //     transform: scale(1.1) translateX(max(30px, 30rem));
    //         // }
    //     }
    // }

}

    
    