.header-menu {
  position: relative;

  @include mobile{
   position: static;
  }
  &.active{
    .header-menu__box{
      display: flex;
    }
  }

  &__title {
    font-size: clamp(16px, 1.5789vw, 18px);
    line-height: 1;
    font-weight: bold;
    color: rgba(var(--cl-a), 1);
    font-family: var(--font-family);
  }

  &__box {
    position: absolute;
    bottom: -10px;
    right: 0;
    transform: translate(0,100%);
    flex-direction: column;
    grid-gap: clamp(15px, 1.7544vw, 20px);
    display: none;
    min-width: 320px;
    padding: 20px;
    background-color: rgba(var(--bg-e), 1);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.55);
    z-index: 100;
    border-radius: 8px;

    @include mobile{
      bottom: -5px;
      right: 50%;
      transform: translate(50%, 100%);
    }
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 1.7544vw, 20px);
  }

  &__item {
    display: flex;
    padding-bottom: clamp(15px, 1.7544vw, 20px);
    border-bottom: 1px solid var(--br-a);
  }

  &__btn {
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__link {
    font-family: var(--font-family);
    font-size: clamp(14px, 1.4035vw, 16px);
    line-height: 120%;
    font-weight: bold;
    color: rgba(var(--cl-c), 1);
    align-self: center;
    &:hover {
      text-decoration: underline;
    }
  }
}
