.main-brands{
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 1.7544vw, 20px);
    background-color: #fafafa;
    padding: 0 15px 15px;

    &__list{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(15px, 1.7544vw, 20px);
    }

    &__link{
        border-top: 1px solid var(--br-c);
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: rgba(var(--cl-d),1.0);
        font-family: var(--font-family);
        padding: 10px 0 0;
        text-decoration: none;
        display: block;
        transition: all .3s;

        &:hover{
            color: rgba(var(--cl-e),1.0);
        }
    }

    .subtitle-black{
        width: calc(100% + 30px);
        margin: 0 -15px;
        background-color:rgba(var(--bg-a),1.0);
    }
}
