.h2o-orange-button {
  font-family: var(--font-family);
  border-radius: 50px;
  color: rgba(var(--cl-a), 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(16px, 1.4516vw, 18px);
  line-height: 1.2;
  font-weight: 500;
  padding: 10px clamp(10px, 1.6129vw, 20px);
  background-image: var(--gr-a);
  box-shadow: 0 10px 30px #fa410066;

  &:hover {
    background-image: var(--gr-b);
    box-shadow: 0 20px 30px #fa410066;
  }
}

.h2o-blue-button {
  font-family: var(--font-family);
  border-radius: 50px;
  color: rgba(var(--cl-a), 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  background-image: var(--gr-c);
  font-size: clamp(16px, 1.4516vw, 18px);
  padding: 10px clamp(10px, 1.6129vw, 20px);

  &:hover {
    background-image: var(--gr-d);
  }
}

.h2o-yellow-button {
  font-family: var(--font-family);
  background: linear-gradient(180deg, #fa9400, #fab700);
  border-radius: 40px;
  color: rgba(var(--cl-b), 1);
  display: flex;
  font-size: 14px;
  font-weight: 900;
  padding: 10px clamp(30px, 4.8387vw, 60px) 10px clamp(10px, 1.6129vw, 20px); 
  text-align: center;
  white-space: nowrap;
  position: relative;
}

.h2o-lock-button {
  font-family: var(--font-family);
  align-items: center;
  background: rgba(var(--bg-c), 1);
  border-radius: 20px;
  display: flex;
  grid-gap: 5px;
  justify-content: flex-start;
  padding: 10px;
  text-decoration: none;
  transition: box-shadow 0.2s ease;
  color: rgba(var(--cl-a), 1);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.h2o-action-button {
  font-family: var(--font-family);
  background-color: rgba(var(--bg-d), 1);
  background-image: linear-gradient(0deg, #428cdc 0, #0992af);
  border-radius: 20px;
  box-shadow: 0 11px 27px #428cdca1;
  color: rgba(var(--cl-a), 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  grid-gap: 10px;
  padding: 10px;
  text-transform: uppercase;

  &:hover {
    color: rgba(var(--cl-c), 1);
  }
}

.h2o-shop-button {
  position: relative;
  font-family: var(--font-family);
  color: rgba(var(--cl-a), 1);
  display: flex;
  align-items: center;
  grid-gap: 8px;
  font-size: clamp(14px, 1.4516vw, 18px);
  white-space: nowrap;
  font-weight: 500;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.3s ease;
  padding: 0 3px;
  &:hover {
    color: rgba(var(--cl-c), 1);
  }
  &::before {
    border: 2px solid var(--br-a);
    border-radius: 20px;
    bottom: -10px;
    content: "";
    left: -10px;
    position: absolute;
    right: -12px;
    top: -10px;
  }

  i{
    position: relative;
    top: -1px;
  }
}


.h2o-play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}